<%= form_with(model: cliente, html: {"data-turbo" => "false"}) do |form| %>
  
  <div class="row mb-3">
    <div class="offset-md-2 col-md-4">
      <%= render "/shared/errores", modelo: @cliente %> 
    </div>
  </div>

  <% if cliente.num_interno == nil && cliente.id%>
    <!-- Con cliente.id nos garantizamos que esto solo aparezca en /edit y no en /new -->
    <div class="row mb-3">  
      <div class="offset-md-2 col-md-6" style="color: purple">
        <h3>Este cliente esta actualmente dado de baja.
          Aún así, puedes actualizar el resto de los datos. 
          Si necesitas darlo de alta como Cliente, introduce un # Interno Despacho.</h3>
      </div>
    </div>
  <% end %>
 
  <div class="row mb-3">
    <%= form.label :num_interno, "# Interno Despacho*:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :num_interno, :class => "form-control" %> 
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :razon_social, "Razon Social*:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :razon_social, :class => "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :rfc, "RFC*:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :rfc, :class => "form-control" %> 
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :clave, "Clave:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :clave, :class => "form-control" %> 
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :fiel, "FIEL:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :fiel, :class => "form-control" %> 
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :fiel_vencimiento, "Vencimiento FIEL:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.date_select(:fiel_vencimiento,
                  {start_year: Date.today.year,
                  end_year: Date.today.year+5,
                  order: [:day, :month, :year],
                  :use_month_names => ['Enero', 'Febrero',
                  'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                  'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                  'Diciembre']},
                  {:class => "form-select date-select"}) %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :csd, "CSD:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.text_field :csd, :class => "form-control" %> 
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :csd_vencimiento, "Vencimiento CSD:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.date_select(:csd_vencimiento,
                  {start_year: Date.today.year,
                  end_year: Date.today.year+5,
                  order: [:day, :month, :year],
                  :use_month_names => ['Enero', 'Febrero',
                  'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                  'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                  'Diciembre']},
                  {:class => "form-select date-select"}) %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :regimen_fiscal, "Regimen Fiscal (PERSONAS FISICAS):", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.collection_check_boxes :regimen_fiscal, Cliente.regimenes_fiscales_fisicas, :keys, :values, { }, {:class => "form-check-input"} do |f| %>
        <%= f.check_box(checked: Cliente.tiene_este_regimen_fiscal?(f.value.first,cliente))+ " " + f.text.first%><br>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :regimen_fiscal, "Regimen Fiscal (PERSONAS MORALES):", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
    <div class="col-md-4">
      <%= form.collection_check_boxes :regimen_fiscal, Cliente.regimenes_fiscales_morales, :keys, :values, {include_hidden: false }, {:class => "form-check-input"} do |f| %>
        <%= f.check_box(checked: Cliente.tiene_este_regimen_fiscal?(f.value.first,cliente))+ " " + f.text.first%><br>
      <% end %>
    </div>
  </div>
  <%if Rails.application.credentials.dig(:usuario_jefe_contabilidad,:usuario) == usuario_actual.nombre_usuario || usuario_actual.admin == true%>
      <div class="row mb-3">
      <%= form.label :user_id, "Usuario Asignado", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"} %>
      <div class="col-md-4">
        <%= form.collection_select(:user_id, User.where(contabilidad: true), :id, :nombre_usuario, { include_blank: true}) %>
      </div>
    </div>
  <% end %>
  
  <div class="offset-md-6 col-md-2">
    <%= form.submit%>
  </div>

<% end %>
