<div class="row mb-3">
  <div class="offset-2 col-4">
    <%= button_to "Descargar Lista de Clientes de #{@usuario.nombre_usuario}", options = {action: :contabilidad, controller: 'clientes', format: 'csv'}, html_options = {class: 'btn btn-primary', params: {id: @usuario_id}} %>
  </div>
</div>
<table class="table table-hover align-middle" >
  <thead style="position:sticky; top: 0; position: -webkit-sticky;", class="table-primary" >
    <tr>
      <th class="col-1"></th>
      <th class="col-1">Número Interno</th>
      <th class="col-2">Razón Social</th>
      <th class="col-1">Regimen Fiscal</th>
      <th class="col-2">Última obligación presentada</th>
      <th class="col-1">Asignado</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr> 
        <td></td>
        <td><%= cliente.num_interno %></td>
        <td><%= link_to cliente.razon_social, cliente_obligaciones_path(cliente) %></td>
        <td> 
          <% cliente.regimen_fiscal&.each_with_index do |ob,idx| %>
            <%= ob if not ob.empty? %>
            <%= "," if idx != cliente.regimen_fiscal.size()-1 && !ob.empty? %>
          <% end %>
        </td>
        <td>
          <% if not cliente.obligaciones.empty? %>
            <!-- Se elige cliente.obligaciones.first porque es la declaracion con la fecha mas reciente -->
            <%= cliente.obligaciones.first.fecha.year.to_s + 
              " " + I18n.t(cliente.obligaciones.first.fecha.strftime('%B')) %>
          <% else %>
            <%= "Sin obligaciones presentadas" %>
          <% end %>
        </td>
        <td>
          <%if Rails.application.credentials.dig(:usuario_jefe_contabilidad,:usuario) == usuario_actual.nombre_usuario || usuario_actual.admin == true%>
            <%= form_with model: cliente do |form| %>
              <%= form.select :user_id, User.where(contabilidad: true).collect { |p| [ p.nombre_usuario, p.id ] }, {selected: cliente.user.id}%>
              <%= form.select :current_id, [@usuario.id],{} , html_options =  {style: "display:none"} %>
              <%= form.submit "Cambiar"%> 
            <% end %>
          <% else %>
            <%= cliente.user&.nombre_usuario %>
          <% end %>
        </td>
        <td>
          <%= form_with model: [cliente,Obligacion.new] do |form| %>
              <%= form.date_select :fecha, {default: Time.now - 1.month , discard_day: true} %>
              <%= form.select :current_id, [@usuario.id],{} , html_options =  {style: "display:none"} %>
              <%= form.submit "Presentado",  {class: "btn btn-success"} %>
          <% end %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>

