<div class="row mb3">
  <div class="offset-2 offset-sm-2 col-3 col-sm-3">
    <h1>Clientes dados de baja</h1>
  </div>
<div>

<div>
  <div class="row">
    <div class="offset-2 col-2 offset-sm-2 col-sm-2">
      <h5>RAZON SOCIAL</h5> 
    </div>
    <div class="col-1 col-sm-1">
      <h5>RFC</h5> 
    </div>
  </div>
  <% @clientes.each do |cliente| %>
    <div class="row mb-3">
      <div class="offset-2 col-2 offset-sm-2 col-sm-2">
        <%= cliente.razon_social%>
      </div>
      <div class="col-1 col-sm-1">
        <%= cliente.rfc%>
      </div>
      <div class="col-1 col-sm-1">
        <%= link_to 'Mostrar Más', cliente, :class => 'btn btn-primary' %>
      </div>
      <div class="col-1 col-sm-1">
        <%= link_to 'Dar de Alta', edit_cliente_path(cliente), :class => 'btn btn-primary'%>
      </div>
      <% if usuario_actual.admin? %>
      <div class="col-1 col-sm-1">
        <%= link_to 'Eliminar', cliente, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>

