<p id="notice"><%= notice %></p>


<div class="row">
  <h1 class="offset-2 col-2 offset-sm-3 col-sm-9">Clientes</h1>
</div>


<div class="row mb-3">
  <div class="offset-2 col-2 offset-sm-3 col-sm-9">
    <%= link_to 'Nuevo Cliente', new_cliente_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div>
  <div class="row mb-3">
    <div class="offset-2 col-1 offset-sm-2 col-sm-1" style="text-align: right">
      <h5># CLIENTE</h5> 
    </div>
    <div class="col-2 col-sm-2">
      <h5>RAZON SOCIAL</h5> 
    </div>
    <div class="col-3 col-sm-3">
      <h5>RFC</h5> 
    </div>
    <div class="col-1 col-sm-1">
  </div>
  <% @clientes.each do |cliente| %>
    <div class="row mb-3">
      <div class="offset-2 col-1 offset-sm-2 col-sm-1" style="text-align: right">
        <%= cliente.num_interno%>
      </div>
      <div class="col-2 col-sm-2">
        <%= cliente.razon_social%>
      </div>
      <div class="col-1 col-sm-1">
        <%= cliente.rfc%>
      </div>
      <div class="col-1 col-sm-1">
        <%= link_to 'Mostrar Más', cliente, :class => 'btn btn-primary' %>
      </div>
      <% if usuario_actual.admin? %>
      <div class="col-1 col-sm-1">
        <%= link_to 'Eliminar', cliente, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>

