<%= javascript_pack_tag 'funcional' %>

<div class="row">
  <h1 class="offset-2 col-2 offset-sm-3 col-sm-9">Clientes</h1>
</div>


<div class="row mb-3">
  <div class="offset-3 col-1 offset-sm-3 col-sm-1">
    <%= link_to 'Nuevo Cliente', new_cliente_path, :class => 'btn btn-primary' %>
  </div>
  <div class="col-1 col-sm-1">
    <%= link_to 'Descargar Lista de Clientes', url_options = {format: 'csv'}, html_options = {class: 'btn btn-secondary'} %>
  </div>
  <div class="col-1 col-sm-1">
    <%= link_to 'Clientes Dados de Baja', bajas_clientes_path, :class => 'btn btn-secondary'%>
  </div>
</div>
<table class="table table-hover table-bordered table-striped">
  <thead style="position:sticky; top: 0; position: -webkit-sticky;" class="table-dark">
    <tr>
      <td>Número Interno</td>
      <td>Razón Social</td>
      <td>RFC</td>
      <td>CIEC</td>
      <td>FIEL</td>
      <td>CSD</td>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr> 
        <td><%= cliente.num_interno %></td>
        <td><%= link_to cliente.razon_social, cliente %></td>
        <td onclick="copyToClipboard(event)" ><%= cliente.rfc%></td>
        <td onclick="copyToClipboard(event)" ><%= cliente.clave%></td>
        <td onclick="copyToClipboard(event)" ><%= cliente.fiel%></td>
        <td>CSD</td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
<!--
  <% @clientes.each do |cliente| %>
    <div class="row mb-3">
      <div class="offset-1 col-1 offset-sm-1 col-sm-1" style="text-align: right">
        <%= cliente.num_interno%>
      </div>
      <div class="col-2 col-sm-2" style="text-align: center;">
        <%= link_to cliente.razon_social, cliente  %>
      </div>
      <div class="col-2 col-sm-2"> 
        <div class="row mb-3">
          <button onclick = "copyToClipboard(event)" class="btn btn-warning">RFC: <%= cliente.rfc%></button>
        </div>
        <div class="row mb-3">
          <button onclick = "copyToClipboard(event)" class="btn btn-warning">CIEC: <%= cliente.clave%></button>
        </div>
        <div class="row mb-3">
          <button onclick = "copyToClipboard(event)" class="btn btn-warning">FIEL: <%= cliente.fiel%></button>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
-->
