<%= form_with(model: usuario_externo) do |form| %>
  <% if usuario_externo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario_externo.errors.count, "error") %> impidieron completar tu solicitud.</h2>

      <ul>
        <% usuario_externo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= invisible_captcha %>

  <div class="row">
    <div class="offset-md-2 col-md-4">
      <p>Correo electrónico al cual se enviarán los documentos relacionados con el IDSE. Será también el nombre de Usuario</p>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :nombre_usuario, "Correo electrónico", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"} %>
    <div class="col-md-2">
      <%= form.email_field :nombre_usuario, :class => "form-control" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <p>La contraseña debe tener mínimo 8 caracteres (no usar la letra ñ)</p>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :password, "Contraseña", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"} %>
    <div class="col-md-2">
      <%= form.password_field :password, :class => "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :password_confirmation, "Confirmar Contraseña", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"} %>
    <div class="col-md-2" >
      <%= form.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-4 col-md-1" style="text-align: right">
      <%= form.submit :class => "btn btn-primary"%>
    </div>
  </div>
<% end %>
