<%= form_with(model: usuario_externo) do |form| %>
  <% if usuario_externo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario_externo.errors.count, "error") %> impidieron completar tu solicitud.</h2>

      <ul>
        <% usuario_externo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Por favor introduce el correo electrónico al cual se enviarán los documentos relacionados con el IDSE</h2>

  <h2>La contraseña debe de tener una longitud mínima de 8 caracteres</h2>

  <div>
    <%= form.label :nombre_usuario, "Correo electrónico", style: "display: block" %>
    <%= form.email_field :nombre_usuario %>
  </div>
  <div>
    <%= form.label :password, "Contraseña", style: "display: block" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation, "Confirmar Contraseña", style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
