<%= form_with(model: usuario_externo) do |form| %>
  <% if usuario_externo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario_externo.errors.count, "error") %> prohibited this usuario_externo from being saved:</h2>

      <ul>
        <% usuario_externo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <h3>
  Favor de introducir el correo electrónico al cuál le llegarán los documentos relacionados con las peticiones. Este será su Nombre de Usuario.
  </h3>

  <br>

  <h3>
  La contraseña debe tener un mínimo de 8 caracteres
  </h3>

  <br>

  <div>
    <%= form.label :nombre_usuario, "Correo Electrónico", style: "display: block" %>
    <%= form.email_field :nombre_usuario %>
  </div>

  <div>
    <%= form.label :password_digest, "Contraseña", style: "display: block" %>
    <%= form.password_field :password_digest %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
