<% if @usuario_externo.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@usuario_externo.errors.count, "error") %> impidieron completar tu solicitud.</h2>

    <ul>
      <% @usuario_externo.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render @usuario_externo %>

<div>
  <%= link_to "Editar este Usuario Externo", edit_usuario_externo_path(@usuario_externo) %> |
  <%= link_to "Regresar a Usuario Externos", usuario_externos_path %>

  <%= button_to "Destruir este Usuario Externo", @usuario_externo, method: :delete, data: {turbo: false} %>
</div>
