<% if peticion.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(peticion.errors.count, "error") %> no permitieron enviar
      esta petición.
    </h2>
    <ul>
      <% @peticion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: peticion do |form| %>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :nombre_trabajador, :class => "form-label" %><br>
      <%= form.text_field :nombre_trabajador, :class => "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :apellido_paterno, :class => "form-label" %><br>
      <%= form.text_field :apellido_paterno, :class => "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :apellido_materno, :class => "form-label" %><br>
      <%= form.text_field :apellido_materno, :class => "form-control" %>
    </div>
  </div>

  <div>
    <%= form.label :empresa_solicitante %><br>
    <%= form.text_area :empresa_solicitante %>
  </div>
  <div>
    <%= form.label :persona_solicitante %><br>
    <%= form.text_area :persona_solicitante %>
  </div>
  <div>
    <%= form.label :movimiento %><br>
    <%= form.text_area :movimiento %>
  </div>
  <div>
    <%= form.label :fecha_nacimiento %><br>
    <%= form.text_area :fecha_nacimiento %>
  </div>
  <div>
    <%= form.label :domicilio %><br>
    <%= form.text_area :domicilio %>
  </div>
  <div>
    <%= form.label :numero_imss %><br>
    <%= form.text_area :numero_imss %>
  </div>
  <div>
    <%= form.label :salario_integrado %><br>
    <%= form.text_area :salario_integrado %>
  </div>
  <div>
    <%= form.label :curp %><br>
    <%= form.text_area :curp %>
  </div>
  <div>
    <%= form.label :salario_sin_integrar %><br>
    <%= form.text_area :salario_sin_integrar %>
  </div>
  <div>
    <%= form.label :rfc %><br>
    <%= form.text_area :rfc %>
  </div>
  <div>
    <%= form.label :fecha_para_realizar_tramite %><br>
    <%= form.text_area :fecha_para_realizar_tramite %>
  </div>
  <div>
    <%= form.label :observaciones %><br>
    <%= form.text_area :observaciones %>
  </div>

  <div class="mb-3">
    <%= form.submit "Enviar", :class =>"btn btn-primary" %>
  </div>
<% end %>
