<div class="row">
  <h1 style="text-align: center" class="col">Peticiones</h1>
</div>
<div class="row mb-3">
  <div style="text-align: right" class="offset-1 col">
    <p>Listar por cliente:</p>
  </div>
  <div class="col">
    <%= form_with scope: :usuario_externo ,url: listar_peticiones_usuario_externo_peticiones_path do |form| %>
      <%= form.select :id_usuario, UsuarioExterno.all.collect {|p| [p.nombre_usuario,p.id]}%>
      <%= form.submit "Filtrar" %>
    <% end %>
  </div>
  <div class="col">
  <%= link_to "Todas las peticiones", peticiones_path, {:class => "btn btn-primary"} %>
    </div>
</div>
<div id="div_update_lista_peticiones"%>
  <%= render partial: "update_lista_peticiones", locals: {peticiones: @peticiones, page: @page, pag_minimas: @pag_minimas, pag_maximas: @pag_maximas} %> 
</div>
