<div class="row">
  <h1 class="offset-2 col-2 offset-sm-3 col-sm-9">Peticiones</h1>
</div>
<%= render "link_pagination_index", pagina: @page, pag_minimas: @pag_minimas, pag_maximas: @pag_maximas %>
<hr>
<div>
  <% @peticiones.each do |peticion| %>
    <div class="row">
      <div class="offset-2 col-2 offset-sm-3 col-sm-2">
        <h3><%= peticion.movimiento%></h3>
      </div>
      <div class="col-2 col-sm-2">
        <h3># <%= peticion.folio %></h3>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-10 offset-sm-3 col-sm-9">
        Fecha de Solicitud: <%=peticion.created_at.to_fs(:day_month_year)%>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-10 offset-sm-3 col-sm-9">
        Empresa que solicita: <%=peticion.empresa_solicitante%>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-10 offset-sm-3 col-sm-9">
        Solicita: <%=peticion.persona_solicitante%>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-10 offset-sm-3 col-sm-9">
        A realizar el: <%=peticion.fecha_para_realizar_tramite.to_time.to_fs(:day_month_year)%>
      </div>
    </div>
    <br>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        NSS:
      </div>
      <div class="col-4 col-sm-4">
          <%= peticion.numero_imss %>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2" >
        Nombre:
      </div>
      <div class="col-4 col-sm-4">
        <%=peticion.nombre_trabajador%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Apellido Paterno:
      </div>
      <div class="col-4 col-sm-4">
        <%=peticion.apellido_paterno%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Apellido Materno:
      </div>
      <div class="col-4 col-sm-4">
        <%=peticion.apellido_materno%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Salario Integrado:
      </div>
      <div class="col-4 col-sm-4">
        <%=peticion.salario_integrado%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Salario Sin Integrar:
      </div>
      <div class="col-4 col-sm-4">
        <%=peticion.salario_sin_integrar%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Fecha de Nacimiento:
      </div>
      <div class="col-4 col-sm-4">
         <%= if peticion.fecha_nacimiento != nil then peticion.fecha_nacimiento.to_time.to_fs(:day_month_year) end %>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        RFC:
      </div>
      <div class="col-4 col-sm-4">
         <%= peticion.rfc %>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        CURP:
      </div>
      <div class="col-4 col-sm-4">
         <%= peticion.curp %>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Observaciones:
      </div>
      <div class="col-4 col-sm-4">
          <%=peticion.observaciones%>
      </div>
    </div>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Dirección:
      </div>
      <div class="col-4 col-sm-4">
        <%= peticion.domicilio %>
      </div>
    </div>
    <% if (usuario_actual.nombre_usuario == "MONICA" || usuario_actual.admin?) %>
      <div class="row">
        <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
          Adjuntar Respuesta IDSE:
        </div>
        <div class="col-4 col-sm-4">
          <%= form_with(model: peticion, scope: :peticion) do |form| %>
            <%= form.file_field :respuesta_idse %>
            <%= form.submit %> 
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div style = "text-align: right" class="offset-2 col-3 offset-sm-3 col-sm-2">
        Documento IDSE adjunto: 
      </div>
      <div class="col-4 col-sm-4">
        <% if peticion.respuesta_idse.attached? %>
          Si  <%= link_to "Ver Archivo", url_for(peticion.respuesta_idse) %>
        <% else %>
          No
        <% end %>
      </div>
    </div>
    <br>
    <% if usuario_actual.admin? %>
      <div class="row">
        <div class="offset-2 col-3 offset-sm-3 col-sm-2">
          <%= link_to "Editar Peticion", edit_peticion_path(peticion.id), :class =>"btn btn-primary" %>
        </div>
        <div class="col-3 col-sm-2">
          <%= button_to "Borrar Peticion", peticion_path(peticion.id), method: :delete, data: { confirm: '¿Estás seguro de querer borrar esta petición'},
          :class =>"btn btn-danger" %>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
<%= render "link_pagination_index", pagina: @page, pag_minimas: @pag_minimas, pag_maximas: @pag_maximas %>
