<div class="row">
  <div class="offset-2 col-3">
    <h1>Auditoria</h1>
  </div>
</div>
<div class="row">
  <div class="offset-2 col-10">
    <h4>Empresas que no tienen representante legal asignado</h4>
  </div>
</div>
<table class="table align-middle">
  <thead class="table-primary">
    <tr>
      <th class="col-1"># Interno</th>
      <th class="col-2">Fecha de Creación</th>
      <th class="col-8">Razon Social</th>
    </tr>
  </thead>
  <tbody>
  <% @clientes_sin_replegal.each do |cliente| %>
    <tr>
      <td><%= cliente.num_interno %></td>
      <td><%= cliente.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= cliente.razon_social %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-hover align-middle">
  <thead style="position:sticky; top: 0; position: -webkit-sticky;", class="table-primary" >
    <tr>
      <th class="col-1">Audit ID</th>
      <th class="col-1">Usuario</th>
      <th style="text-align:center" class="col-1">Acción</th>
      <th style="text-align:center" class="col-2">Identificador</th>
      <th style="text-align:center" class="col-4">Modificaciones</th>
      <th style="text-align:center" class="col-3">Fecha</th>
    </tr>
  </thead>
  <tbody>
  <% @clientes.each do |cliente| %>
    <% cliente.audits.each do |audit| %>
      <tr style="background-color: #4ba8c6">
        <td><%= audit.id %></td>
        <!-- La siguiente condicion solo aplica si no habia sesion iniciada por un usuario
          i.e. se realizo desde la linea de comandos remota -->
        <%if not audit.user.nil? %><td><%= audit.user.nombre_usuario %></td><%else%><td>-</td><% end %>
        <td><%= audit.action %></td>
        <td><%= "Cliente: " + cliente.razon_social%></td>
        <td><%= audit.audited_changes %></td>
        <td><%= audit.created_at %></td>
      </tr>
    <% end %>
  <% end %>
  <% @replegales.each do |replegal| %>
    <% replegal.audits.each do |audit| %>
      <tr style="background-color: #7ec95e">
        <td><%= audit.id %></td>
        <% if audit.user.present? %>
          <td><%= audit.user.nombre_usuario %></td>
        <% else %>
          <td>USUARIO ELIMINADO</td>
        <% end %>
        <td><%= audit.action %></td>
        <td><%= "RepLegal: " + replegal.nombre_completo%></td>
        <td><%= audit.audited_changes %></td>
        <td><%= audit.created_at %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

