<div class="row">
  <div class="offset-8 col-2">
    <% if logged_in? %>
      <%= "Cuenta: Administrador" if usuario_actual.admin? %>
      <%=link_to "Terminar Sesion", logout_path, method: :delete %>
    <% else %>
      <%=link_to "Control Interno", login_path %>
    <% end %>
  </div>
</div>

<%if logged_in? %>
  <div class="row">
    <div class="offset-3 col-3">
      <%=link_to "Clientes", clientes_path%>
    </div>
    <div class="col-3">
      <%=link_to "Casos", casos_path%>
    </div>
    <div class="col-3">
      <%=link_to "Peticiones", peticiones_path%>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="offset-3 col-5">
    <% flash.each do |type, msg| %>
      <div class="alert alert-secondary">
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
