<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path, data: {turbo: false})  do |form| %>
  <div class="row mb-3">
    <%= form.label :nombre_usuario, "Usuario", :class => "form-label offset-3 col-1 col-form-label"  %>
    <div class="col-4">
      <%= form.text_field :nombre_usuario, :class => "form-control col-2" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :password, "Contraseña", :class => "form-label offset-3 col-1 col-form-label"  %>
    <div class="col-4">
      <%= form.password_field :password, :class => "form-control col-2" %>
    </div>
  </div>
  <% if @show_checkbox_recaptcha %>
    <div class="row mb-3">
      <div class="col-3 offset-5"> 
    <%= recaptcha_tags site_key: Rails.application.credentials.dig(:recaptchav2,:site)%>
      </div>
    </div>
  <% else %>
    <%= recaptcha_v3(action: 'login', site_key: Rails.application.credentials.dig(:recaptcha,:site)) %>
  <% end %>
  <div class="row mb-3">
    <%= form.submit("Entrar", :class =>"btn btn-primary offset-7 col-1") %>
  </div>

<% end %>
