<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path, data: {turbo: false})  do |form| %>
  <div class="row mb-3">
    <%= form.label :nombre_usuario, "Usuario", :class => "form-label offset-3 col-1 col-form-label"  %>
    <div class="col-4">
      <%= form.text_field :nombre_usuario, :class => "form-control col-2" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label :password, "Contraseña", :class => "form-label offset-3 col-1 col-form-label"  %>
    <div class="col-4">
      <%= form.password_field :password, :class => "form-control col-2" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.submit("Entrar", :class =>"btn btn-primary offset-7 col-1") %>
  </div>

<% end %>
