<div data-controller="deshabilita-campos-rep-legales">
  <%= form_with(model: replegal, html: {"data-deshabilita-campos-rep-legales-target" => "form"}) do |form| %>
  <div class="row mb-3">
    <div class="offset-md-2 col-md-4">
      <%= render "/shared/errores", modelo: @replegal %> 
    </div>
  </div>
  <% unless request.fullpath == "/replegales/#{@replegal.id}/edit"%>
    <% if @replegal.clientes.where("LENGTH(rfc) = 13").empty? %>
      <div class="row mb-3">
      <%= label :cliente_id, "Si el Representante Legal ya es un cliente, puedes elegirlo de esta lista.
                  De manera automática, los campos de abajo se deshabilitarán y los datos se tomarán de 
                  su registro de Cliente.",
        {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right; text-transform: uppercase; color: purple"}%>
      <div class="col-md-4">
        <%= collection_select(:replegal, :cliente_ids, Cliente.where("CAST(num_interno AS integer) < CAST(600 AS integer)").reorder('razon_social ASC'),:id, :razon_social,{include_blank: true},{:class => "form-select", "data-deshabilita-campos-rep-legales-target"=> "source", "data-action" => "deshabilita-campos-rep-legales#deshabilita", size: 10}) %>
      </div>
      </div>
    <% end %>
  <% end %>
  <% if not @replegal.clientes.where("LENGTH(rfc) = 13").empty?%> 
    <span style="display: none">
  <% end %>
      <div class="row mb-3">
        <div class="offset-md-3 col-md-4">
          <h6 style="color: purple">Si el Representante Legal no está en la lista de arriba, introduce sus datos a continuación</h6>
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :nombre_completo, "# Nombre Completo*:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.text_field :nombre_completo, {:class => "form-control", "data-deshabilita-campos-rep-legales-target"=> "campo"} %> 
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :rfc, "RFC*:", {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.text_field :rfc, {:class => "form-control", "data-deshabilita-campos-rep-legales-target"=> "campo"}%>
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :clave, "Clave:", {:class => "form-label offset-md-1 col-md-2 col-form-label ",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.text_field :clave, {:class => "form-control" , "data-deshabilita-campos-rep-legales-target" => "campo"} %> 
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :fiel, "FIEL:", {:class => "form-label offset-md-1 col-md-2 col-form-label ",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.text_field :fiel, {:class => "form-control",  "data-deshabilita-campos-rep-legales-target" => "campo"} %> 
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :vencimiento_fiel, "Vencimiento FIEL:", {:class => "form-label offset-md-1 col-md-2 col-form-label ",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.date_select(:vencimiento_fiel,
                      {start_year: Date.today.year,
                      end_year: Date.today.year+5,
                      order: [:day, :month, :year],
                      :use_month_names => ['Enero', 'Febrero',
                      'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                      'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                      'Diciembre']},
                      {:class => "form-select date-select",  "data-deshabilita-campos-rep-legales-target" => "campo"}) %>
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :csd, "CSD:", {:class => "form-label offset-md-1 col-md-2 col-form-label ",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.text_field :csd, {:class => "form-control",  "data-deshabilita-campos-rep-legales-target" => "campo"}%> 
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :vencimiento_csd, "Vencimiento CSD:", {:class => "form-label offset-md-1 col-md-2 col-form-label ",:style => "text-align: right"}%>
        <div class="col-md-4">
          <%= form.date_select(:vencimiento_csd,
                      {start_year: Date.today.year,
                      end_year: Date.today.year+5,
                      order: [:day, :month, :year],
                      :use_month_names => ['Enero', 'Febrero',
                      'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                      'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                      'Diciembre']},
                      {:class => "form-select date-select", "data-deshabilita-campos-rep-legales-target" => "campo"}) %>
        </div>
      </div>
  <% if not @replegal.clientes.where("LENGTH(rfc) = 13").empty? %>
    </span>
    <div class="row mb-3">
      <div class="offset-md-3 col-md-4 col-4">
        <h6 style="color: purple">
          Este Representante Legal ya se encuentra en la lista de Clientes. 
          Cualquier cambio (vencimiento de FIEL, RFC), por favor, realízalo en esa lista.
          <br>
          <%= link_to 'Ir al perfil del Cliente', cliente_path(@replegal.clientes.where(
            "LENGTH(rfc) = 13").first), :class => 'btn btn-warning' %>
          <br>
          Aquí puedes actualizar las empresas que tiene asignadas.
        </h6>
      </div>
    </div>
  <% end %>
  <div class="row mb-3">
    <%= label :cliente_id, "Empresas A Asignar",
      {:class => "form-label offset-md-1 col-md-2 col-form-label",:style => "text-align: right; text-transform: uppercase"}%>
    <div class="form-check col-md-4">
      <%= collection_check_boxes(:replegal, :cliente_ids, Cliente.where("CAST(num_interno AS integer) >= CAST(600 AS integer)").order(num_interno: :asc),#Cliente.where("num_interno >= CAST(600 AS varchar)"), # Cliente.left_outer_joins(:replegales)
        #.where("replegales.id is null AND num_interno >= CAST(600 AS varchar)").order(num_interno: :asc),
                               :id, :razon_social,{},{:class => "form-check-input"}) do |b|%>
                               <%=b.check_box + b.object.num_interno + " - " + b.label(class: "form-check-label")%><br>
  <% end %>
    </div>
  </div>
  <div class="offset-md-6 col-md-2" >
    <%= form.submit nil, {"data-action" => "deshabilita-campos-rep-legales#clickBotonSubmit"}%>
  </div>
<%end%>
</div>
