<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="offset-3 col-4">Representantes Legales</h1>
</div>

<div class="row mb-3">
  <div class="offset-3 col-2">
    <%= link_to 'Nuevo Representante Legal', new_replegal_path, :class => 'btn btn-primary' %>
  </div>
</div>
<table class="table table-hover align-middle">
  <thead style="position:sticky; top: 0; position: -webkit-sticky;", class="table-primary" >
    <tr>
      <th class="col-1"></th>
      <th class="col-3">Razón Social</th>
      <th style="text-align:center" class="col-1">RFC</th>
      <th style="text-align:center" class="col-1">CIEC</th>
      <th style="text-align:center" class="col-1">FIEL</th>
      <th style="text-align:center" class="col-1">CSD</th>
    </tr>
  </thead>
  <tbody>
    <% @replegales.each do |replegal| %>
      <tr> 
        <td></td>
        <td><%= link_to replegal.nombre_completo, replegal%></td>
        <td style="text-align:center">
          <button onclick="copyToClipboard(event)" class="btn btn-success col-10"><%= replegal.rfc%></button>
        </td>
        <td style="text-align:center">
          <% if not replegal.clave == nil || replegal.clave == "" %>
            <button onclick="copyToClipboard(event)" class="btn btn-success col-10"><%= replegal.clave%></button>
          <% end%>
        </td>
        <td style="text-align:center">
          <% if not replegal.fiel == nil || replegal.fiel == "" %>
            <button onclick="copyToClipboard(event)" class="btn <%if (replegal.vencimiento_fiel - Time.zone.today) < 0 %>btn-dark<%elsif (replegal.vencimiento_fiel - Time.zone.today) < 90 %>btn-danger<%elsif (replegal.vencimiento_fiel - Time.zone.today) < 180%>btn-warning<%else%>btn-success<%end%> col-10"><%= replegal.fiel%></button>
          <% end %>
        </td>
        <td style="text-align:center">
          <% if not replegal.csd == nil || replegal.csd == "" %>
            <button onclick="copyToClipboard(event)" class="btn <%if (replegal.vencimiento_csd - Time.zone.today) < 0 %>btn-dark<%elsif (replegal.vencimiento_csd - Time.zone.today) < 90 %>btn-danger<%elsif (replegal.vencimiento_csd - Time.zone.today) < 180 %>btn-warning<%else%>btn-success<%end%> btn-success col-10"><%= replegal.csd %></button>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
