<div class="row">
  <div class="offset-1 offset-md-1">
    <h1>
        <%= @replegal.nombre_completo%> 
    </h1>
  </div>
</div>


<div class="row">
  <div class="offset-1 col-2 offset-sm-1 col-sm-2">
    <%= link_to 'Editar Rep. Legal', edit_replegal_path(@replegal), :class => 'btn btn-primary' %>
  </div>
  <% if usuario_actual.admin? %>
    <div class="offset-1 col-2 offset-sm-1 col-sm-2">
      <%= link_to 'Eliminar', @replegal, method: :delete, :class => "btn btn-danger", data: { confirm: '¿Estás seguro?' } %>
    </div>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="offset-1 col-5 offset-sm-1 col-sm-5">
    <h4>Representante legal de las siguientes empresas:</h4>
    <% @replegal.clientes.order(num_interno: :asc).each do |cliente|%>
      <div><% if not cliente.num_interno.nil?%>
             <% if cliente.num_interno.to_i < 600 %>
               <br> Asociado al Cliente: 
             <% end %>
           <% end %>
           <% if cliente.num_interno.nil? %>
             <span style="color: red;">(BAJA)</span>
           <% else %>
             <span style="color: blue;"><%= cliente.num_interno%></span>
           <% end %>
           - <%= cliente.razon_social%>
      </div>
    <% end %>
  </div>
</div>
