<%= form_with(model: caso) do |form|%>

  <%= render "/shared/errores", modelo: @caso %> 

  <div class="row mb-3">
    <div class="offset-md-3 col-md-4">
      <%= form.collection_select :cliente_id, Cliente.all, :id, :razon_social%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-3 col-md-4">
      <%= form.text_area :texto_caso, :class => "form-control", :style => "height: 400px" %> 
    </div>
  </div>


  <div class="offset-md-6 col-md-2">
    <%= form.submit%>
  </div>
<% end %>
