<%= form_with(model: [cliente,obligacion], html: {"data-turbo" => "false"}) do |form| %>
  <% if obligacion.errors.any? %>
    <div class="row mb-3">
      <div class="offset-md-1 col-md-5">
        <div style="color: red">
          <h2><%= pluralize(obligacion.errors.count, "error") %></h2>

          <ul>
            <% obligacion.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="offset-md-1 col-md-3"> 
    <%= form.label :fecha,"Periodo Presentado" , style: "display: block" %>
    <%= form.date_select :fecha, {default: Time.now - 1.month , discard_day: true} %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-1 col-md-3">
      <%= form.submit %>
    </div>
  </div>
<% end %>
