<%= form_with model: [cliente,obligacion] do |form| %>
  <% if obligacion.errors.any? %>
    <div class="row mb-3">
      <div class="offset-md-1 col-md-5">
        <div style="color: red">
          <h2><%= pluralize(obligacion.errors.count, "error") %></h2>

          <ul>
            <% obligacion.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="offset-md-1 col-md-3"> 
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_select :fecha, {discard_day: true} %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-md-1 col-md-3"> 
      <%= form.label :presentadas, "ISR", style: "display: block" %>
      <%= form.collection_check_boxes :presentadas, Obligacion.isr(cliente.num_interno.to_i), :keys, :values, { }, {:class => "form-check-input"} do |f| %>
        <%= f.check_box(checked: Obligacion.declaracion_presentada?(f.value.first,obligacion)) + " " + f.text.first%><br>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-1 col-md-3"> 
      <%= form.label :presentadas, "Retenciones", style: "display: block" %>
      <%= form.collection_check_boxes :presentadas, Obligacion.retenciones(cliente.num_interno.to_i), :keys, :values, {include_hidden: false }, {:class => "form-check-input"} do |f| %>
        <%= f.check_box(checked: Obligacion.declaracion_presentada?(f.value.first,obligacion)) + " " + f.text.first%><br>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-1 col-md-3"> 
      <%= form.label :presentadas, "IVA", style: "display: block" %>
      <%= form.collection_check_boxes :presentadas, Obligacion.iva, :keys, :values, {include_hidden: false }, {:class => "form-check-input"} do |f| %>
        <%= f.check_box(checked: Obligacion.declaracion_presentada?(f.value.first,obligacion)) + " " + f.text.first%><br>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-md-1 col-md-3">
      <%= form.submit %>
    </div>
  </div>
<% end %>
